<IfModule mod_rewrite.c>
    RewriteEngine On

    # Hide .php extension in URLs
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php [L,QSA]

    # Redirect requests to index.php if they are not files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?page=$1 [L,QSA]
</IfModule>
